.logo{
    height: 50px;
    margin-left: -50px;
}
.left{
    float: left;
    margin-left: -100px;
}

// .right{
// // margin-left: 20px;

// }


p{
    margin: 1px;
}

.p1{
    font-size: 30px;
    color: rgb(21, 154, 92);
}
.p2{
    color: rgb(143, 135, 135);
}
// .search{
//     margin-right: 500px;
// }

.input{
    width: 300px;
}
.myCart{
    margin-left: 300px;
    
}
.logIn{
    margin-left: 30px;

}



























