

<nav>
    <img src="/assets/1.jpg" alt="">

    <ul>
        <li><a routerLink="" class="a">EVERYTHING</a></li>
        <li><a routerLink="" class="a">WOMEN</a></li>
        <li><a routerLink="" class="a">MEN</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active" class="a">ABOUT-US</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active" class="a">CONTACT-US</a></li>
        <li><a routerLink="/cart" routerLinkActive="active" class="cart">CART</a></li>
        <li class="login"><a routerLink="/user" routerLinkActive="active">LOG-IN</a></li>  

        </ul>
</nav>

<router-outlet></router-outlet>