<footer class="main_footer">
    <div class="container_footer">
        <ul class="footer_blocks">



<img src="/assets/logo.png" alt="**" class="logo">


<div class="left">
<p class="p1">Cybercom Creation</p>
<p class="p2">GROCERY SHOPPING APP</p>

</div>

<div class="container text-center text-md-left upper">                                              


    <div class="main">

   
    <p><i class="bi bi-geo-alt"></i>Address:1762 School House Road</p>
    <p><i class="bi bi-telephone"></i>call us:123456789</p>
    <p><i class="bi bi-globe2"></i>Email: mailto:abc@gmail.com</p>
    <p><i class="bi bi-clock"></i>work hours: 9:00 18:30 monday-friday</p>

<hr>


    <p>© 2023, All rights reserved</p>
    <div class="container text-center text-left">
        <i class="bi bi-facebook"></i> &nbsp;
        <i class="bi bi-linkedin"></i> &nbsp; 
        <i class="bi bi-instagram"></i> &nbsp; 
        <i class="bi bi-twitter"></i>
        </div>
        
        </div>


    </div>
    
  
    
<hr>

   


      
        </ul>
    
    </div>
    
</footer>





