<footer class="main_footer">
    <div class="container_footer">
        <ul class="footer_blocks">
            <li class="footer_about">
                <h3 class="block_labels">ABOUT</h3><br>
                <p class="about_block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

            </li>

            <li class="footer_categories">
                <ul>
                    <h3 class="block_labels">For Her</h3><br>
                    <li> <a routerLink="" class="list_categories">Women Jeans</a></li>
                    <li> <a routerLink="" class="list_categories">Tops and Shirts</a> </li>
                    <li> <a routerLink="" class="list_categories">Women Jackets</a> </li>
                    <li> <a routerLink="" class="list_categories">Heels</a> </li>
                    <li> <a routerLink="" class="list_categories">Women Accessories</a> </li>
            
        </ul>
    

        <li class="footer_informations">
            <ul>
                <h3 class="block_labels">For Him</h3><br>
                <li> <a routerLink="" class="list_categories">Men Jeans</a></li>
                <li> <a routerLink="" class="list_categories">Men Shirts</a> </li>
                <li> <a routerLink="" class="list_categories">Men Shoes</a> </li>
                <li> <a routerLink="" class="list_categories">Men Accessories</a> </li>
                <li> <a routerLink="" class="list_categories">Men Jackets</a> </li>

            </ul>
        </li>

        <li class="footer_contact">
            <h3 class="block_labels">CONTACT</h3><br>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Maiores eum repellendus eaque aut, voluptates officia 
            amet necessitatibus cumque ea provident porro earum 
            magnam harum eligendi iusto eveniet. Neque natus
             inventore voluptates sit quam mollitia molestias
         
            <br>

        </li>
        </ul>
    </div>
</footer>



