
<img class="img" src="/assets/call.jpg">

<div class="container">
    
    <div class="login-page">
        <div class="form">
          <div class="login">
            <div class="login-header">
              <h3>CONTACT US</h3><br>
            </div>
          </div>
          <form class="login-form">
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="Email">
            <textarea name="" id="" cols="34" rows="3" placeholder="Message" class="textarea"></textarea> <br><br>
            <button>SEND</button>
            
            <br><br>
            <div>
                <img class="social1" src="/assets/fb.svg">
                <img class="social1" src="/assets/twitter.svg"> 
                <img class="social1" src="/assets/insta.svg"> 
                <img class="social1" src="/assets/linkedin.svg">
            </div>



          </form>
        </div>
      </div>

</div>


<div class="secondContainer">


    <h3 class="h3">Have any queries?</h3>

    <h1>We're here to help.​</h1>

    <div class="box1">
            <h2>Sales</h2>
            <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
            <h2 class="number">0123456789</h2>


    </div>


    <div class="box1">
            <h2>Complaints</h2>
            <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
            <h2 class="number">0123456789</h2>
    </div>

    
    <div class="box1">
            <h2>Returns</h2>
            <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
            <h2 class="number">0123456789</h2>


    </div>


    <div class="box1">
            <h2>Marketing</h2>
            <p>Vestibulum ante ipsum primis in <br>faucibus orci luctus.</p>
            <h2 class="number">0123456789</h2>


    </div>






</div>




