.p{
    font-size: 20px;
    width: 80%;
    margin-top: 50px;
    color:red;
}

.container{
 margin-left: 800px;
 margin-top: 100px;
 position: absolute;
 right: 0;
}

.img{
     height: 500px;
     width: 600px;
     margin-top: 100px;
     margin-left: 50px;
     position: absolute;
     left: 0;
}

.button{
    margin-left: 30%;
    font-size: 30px;
    margin-top: 60px;
}


.social{
    letter-spacing: 20px;
    margin-left: 150px;
    }

.social1 {
    height: 35px;
    width: 35px;
    padding: 10px;
}

.secondContainer{

    margin-top: 700px;
    text-align: center;
  }


.box1{
  border: 1px solid rgb(208, 181, 181);
  border-radius: 7px;
  height: 170px;
  width: 250px;
  float: left;
  margin-left: 160px;
  margin-top: 70px;
  background-color: white;
  text-align: center;
  padding: 20px;

}

.number{
  color: blue;
}

.img2{
    margin-top:17px;
    height: 70px;
    width: 70px;
    border-radius: 100%;

}

.name{
    font-size: 20px;
    margin-top: 20px;
}
.name2{
    font-size: 13px;
    margin-top: -9px;
}