
	<img class="img" src="/assets/1.jpg">

	<div class="container">


		<h1>About Us</h1>
        
		<p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Ea minus rerum consequuntur eligendi dolorum veniam accusamus
              provident tenetur nesciunt? Quos vero ex officia eos quo earum 
              enim quod inventore harum quam blanditiis explicabo sit reiciendis
               neque perferendis rerum, odit id tenetur, quis libero. Aut quod 
               deserunt in nihil aliquid? Aliquam vitae dolor, magnam autem
                voluptas earum molestias natus saepe possimus sunt quos, quia 
                ea. Commodi, consectetur repellat sapiente culpa at earum dolorum 
                tempora sit odit repudiandae magni tenetur fuga ullam? Tenetur 
                sequi sunt dolore iusto. Quaerat tempora quasi at alias quod 
                veritatis, repellat non. Molestias maxime eaque modi pariatur eius!</p><br>

		<div class="social">
			<img class="social1" src="/assets/fb.svg">
			<img class="social1" src="/assets/twitter.svg"> 
			<img class="social1" src="/assets/insta.svg"> 
            <img class="social1" src="/assets/linkedin.svg">
		</div>

	</div>

    <div class="secondContainer">


        <h2 class="h3">A Few Words About</h2>
    
        <h1>Our Team​</h1>
        <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
            <br> Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
    
         
            <div class="box1">
                <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
           </div>
    
    
            <div class="box1">
                <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
            </div>

            
            <div class="box1">
                <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
            </div>

        
            <div class="box1">
                <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
            </div>

            
            <div class="box1">
                <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
            </div>
            
            
            <div class="box1">
                <img src="/assets/1.jpg" alt="**" class="img2">
                    <h1 class="name">Sunil Sarvaiya</h1>
                    <p class="name2">CEO, Company</p>
            </div>

    
    
    
    
    
    
    </div>
    
    