    <div class="slider">
        <figure>
            <img class="slider_img" src="/assets/2.png" alt="food image 1" />
            <img class="slider_img" src="/assets/3.jpg" alt="food image 2" />
            <img class="slider_img" src="/assets/3.jpg" alt="food image 3" />
            <img class="slider_img" src="/assets/6.jpg" alt="food image 4" />
        </figure>
    </div>

    <div class="box1">
        <div class=" box1_design">
            <h1 class="a">Men Watch</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>
    </div>


    <div class="box2">
        <div class=" box1_design">
            <h1 class="a">Hand Belt</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>

    </div>

    <div class="box3">
        <div class=" box1_design">
            <h1 class="a">Men Muffler</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>
    </div>

    <div class="box4">
        <div class=" box1_design">
            <h1 class="a">Men Belt</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>
    </div>

    <div class="box5">
        <div class=" box1_design">
            <h1 class="a">xyz</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>
    </div>

    <div class="box6">
        <div class=" box1_design">
            <h1 class="a">Purse</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>
    </div>

    <div class="box7">
        <div class=" box1_design">
            <h1 class="a">xyz</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>
    </div>

    <div class="box8">
        <div class=" box1_design">
            <h1 class="a">xyz</h1><br>
            <h1 class="b">Price:<span class="mrp">200</span><del class="delete">400</del></h1><br>
            <h1 class="b">Offer:50% off</h1><br>
            <button type="button" class="c">Add To Cart </button>
        </div>
    </div>

