
.slider {
    overflow: hidden;
}
.slider figure {
    position: relative;
    width:400%;
    animation: 10s slide infinite;
}

@keyframes slide {
    0% {
        left: 0;
    }
    32% {
        left: 0;
    }
    33% {
        left: -200%;
    }
    65% {
        left: -200%;
    }
    66% {
        left: -300%;
    }
    99% {
        left: -300%;
    }
    100% {
        left: 0;
    }
}

.slider figure img{
    float: left;
    display:flex;
    flex-direction:row;
}

.slider_img {
    width:25%;
    height:654px; 
}

.box1{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 40px;
    margin-left: 100px;
    position: absolute;
    left: 0;
    background-image: url('/assets/home/1.jpg');
    background-size: 100% 50%;
    background-repeat: no-repeat;
      
}
.a{
    margin-top: 75%;
    font-size: large;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;

    
}
.b{
    font-size:large ;
    margin-left: 10%;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
.mrp {
    color: green;
    font-size:large ;
    margin-left: 10px;
}

.delete{
    color: red;
    padding-left: 10px;
    text-decoration: line-through;
}
.c{
    margin-top: 1px;
    width: 90%;
    margin-left: 5%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
    
}

.box2{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 40px;
    margin-right: 100px;
    position: absolute;
    right: 0;
    background-image: url('/assets/home/2.jpg');
    background-size: 100% 50%;
    background-repeat: no-repeat;
     
}

.box3{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 40px;
    margin-right: 450px;
    position: absolute;
    right: 0;
    background-image: url('/assets/home/3.jpg');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    
    
       
}

.box4{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 40px;
    margin-left: 450px;
    position: absolute;
    left: 0;
    background-image: url('/assets/home/4.jpg');
    background-size: 100% 50%;
    background-repeat: no-repeat
      
}

.box5{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 490px;
    margin-left: 450px;
    position: absolute;
    left: 0;
    background-image: url('/assets/home/5.jpg');
    background-size: 100% 50%;
    background-repeat: no-repeat
       
}
.box6{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 490px;
    margin-left: 100px;
    position: absolute;
    left: 0;
    background-image: url('/assets/home/6.jpg');
    background-size: 100% 50%;
    background-repeat: no-repeat
}

.box7{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 490px;
    margin-right: 450px;
    position: absolute;
    right: 0;
    background-image: url('/assets/home/7.jpeg');
    background-size: 100% 50%;
    background-repeat: no-repeat
}
.box8{
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 490px;
    position: absolute;
    right: 0;
    margin-right: 100px;
    background-image: url('/assets/home/8.jpeg');
    background-size: 100% 50%;
    background-repeat: no-repeat  
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
