
<div class="login-page">
  <div class="form">
    <div class="login">
      <div class="login-header">
        <h3>REGISTRATION</h3>
      </div>
    </div>
    <form class="login-form">

      <input type="text" placeholder="First name">
      <input type="text" placeholder="Last name">
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Password">
      <input type="text" placeholder="Confirm Password">

      <button>Register</button>
      <p class="message"><a href="#">Already have account?</a></p>
    </form>
  </div>
</div>










